<div class="container">
	<div class="row justify-content-center log ">
		<div class="col-md-7 col-sm-8 col-lg-6 align-self-center">
			<div class="card login-card">
				<div class="card-body">
					<h2 class="card-title card-header"> About Our Team </h2>
          <h2 class="card-title card-header"> Team Leader </h2>
          <img src="/assets/img/prof_mubi.jpg" alt="mubi Profile" class="rounded-circle prof_img">
          <h4>Mubashir Asaad</h4>
          <h4>15P-6172</h4>
          <h2 class="card-title card-header"> Our Team </h2>
          <img src="/assets/img/prof_afzal.jpg" alt="mubi Profile" class="rounded-circle prof_img">
          <h4>Afzal Tariq</h4>
          <h4>13P-6095</h4>
          <img src="/assets/img/prof_saad.jpg" alt="mubi Profile" class="rounded-circle prof_img">
          <h4>Saad Malik</h4>
          <h4>14P-6057</h4>
          <img src="/assets/img/prof_hussnain.jpg" alt="mubi Profile" class="rounded-circle prof_img">
          <h4>M Hussnain Javed</h4>
          <h4>15P-6117</h4>
				</div>
			</div>
		</div>
	</div>
</div>
